div#dashboard {
    min-height: 70vh;

}
#dashboard .container{
    display: flex;
    align-items: center;
    flex-direction: column;

}

table {
    /* border: 5px black double; */
    border-collapse: collapse;
    font-size: 1.2rem;
}

td,
th {
    border: 2px black solid;
    padding: 10px;
}
table button {
    padding: 5px;
}
table button.modify{
    background-color: green;
}

table button.delete {
    background-color: red;
}